* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 30rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  /* display: flex;
justify-content: center;
align-items: center;
position: absolute; */
}

.container img {
  width: 100%;
  transition: all 0.5s;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  /* centering the content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transition: all 0.5s;
  background: rgba(23, 23, 23, 0.314);
  transform: translateY(100%);
}

.container:hover .content {
transform: translateY(0);
}

/* 2nd effect */
.container:hover img{
  transform: translateY(-30%);
}