* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 30rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
  transition: all 1s;
}

.content {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  /* centering the TEXT */
  display: flex;
  justify-content: center;
  align-items: center;
  /* new thing to learn */
  flex-direction: column;
  color: #fff;
  transition: all 1s;
  background: rgba(23, 23, 23, 0.195);
  transform: translateX(-100%);
}

.container:hover .content{
  transform: translateX(0);
}

/* 2-methods of SLIDING  */
/* .container:hover img{
  transform: translateX(100%);
} */