* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: #ccc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

a {
  text-decoration: none;
  padding: 2rem 3rem;
  background-color: steelblue;
  color: white;
  font-size: 1.5rem;
  /* adding position:relative , because of we gonna write [before] atribute as position:absolute   */
  position: relative;
}

a::before{
  content: "Button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(171, 92, 108);
  /* centering the content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* providing the rotations/animation */
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;

}

a::after{
  content: "Button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(98, 101, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin:top ;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

a:hover::before,
a:hover::after{
  transform: rotateX(0);
}