* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(#8bc6ec, #9599e2);
}
.heading{
  font-size: 5rem;
  font-weight: 900;
  background:url(https://images.unsplash.com/photo-1764583586837-145c51bb8840?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D) ;
  background-size: cover;
  background-clip: text;
  -webkit-background-filter: text;
  color: transparent;
}