* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
}

.card {
  width: 700px;
  padding: 20px;
  margin: 20px;
  background: #ccc;
  line-height: 28px;
  font-family: sans-serif;
}

/*  scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 9px ;
  /* height: 30px; */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#21d4fd, #b721ff);
  border-radius: 100px;
}
